	* {
		font-family: 'Montserrat', sans-serif;
		color: #2D383B;
		background-color: #EFF5F5;
	}
	body {
    	margin-top: 750px;
	}
	p {
		font-size: 24pt;
		margin-left: 160px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#navigation a{
		text-decoration: none;
	}
	#navigation a:hover {
		color: #1787B2;
	}
	#navigation a:hover:after {
		content: "";
		display: block;
		margin: 0 auto;
		width: 100%;
		border-bottom: 2px solid #1787B2;
		padding-top: 3px;
	}

	#socialmedia {
		position: absolute;
		margin-top: 200px;
		width: 100%;
		margin-bottom: 50px;
		left: 50%;
		margin-left: -150px;
	}
	#socialmedia a {
		display: inline-block;
		font-size: 36px;
		line-height: 50px;
		margin: 25px 5px;
	}
	#grab {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
	#navigation {
		position: absolute;
		height: auto;
		top: 0;
		margin: 0px;
		text-align: center;
		width: 100%;
		margin-bottom: 100px;
	}
	#navigation a {
		display: block;
		margin: auto;
    	padding: 15px 10px;
    	font-size: 15px;
	}
	#navigation img {
		display: block;
		text-align: center;
    	margin: 50px auto;
	}
	#navigation #diff {
		margin: 50px auto;
	}
	#blurb {
		position: absolute;
		margin: 10px auto;
		height: auto;
		width: 100%;
	}
	#blurb h1 {
		width: 500px;
		margin: auto;
		font-size: 112px;
		text-align: center;
		display: block;
	}

	form:after {
    	content: "POW! ";
    	font-family: "courier";
    	color: #fc0;
	}