	* {
		animation: transitionIn 0.75s;
	}
	@keyframes transitionIn {
		from {
			opacity: 0;
			transform: translateY(-10px);
		}
		to {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	* {
		font-family: 'Libre Baskerville', serif;
		background-color: #F9F4EE;
		color:  black;
	}
	#logo {
		position: absolute;
		right: 50%;
		margin-right: -135px;
		margin-top: 25px;
	}
	#explore {
		position: absolute;
		right: 10%;
		margin-top: 85px;
	}
	#nav {
		position: absolute;
		left: 7%;
		margin-top: 50px;
	}
	#nav a {
		font-size: 14px;
		display: inline-block;
		margin: 50px 15px;
		text-decoration: none;
	}
	#nav #current:after {
		content: "";
		display: block;
		margin: 0 auto;
		width: 100%;
		border-bottom: 2px solid;
		padding-top: 3px;
	}
	@media screen and (max-width: 750px) {
		#logo {
			display: block;
			margin-top: 135px;
		}
		#nav {
			left: 50%;
			margin-left: -115px;
		}
		#explore {
			right: 50%;
			margin-top: 275px;
			margin-right: -55px;
		}
	}