	#logo, #explore, #nav, #nav * {
		animation: transitionIn 0.75s;
	}
	.posts, .post, .posts *, .post *, #page {
		animation: transitionRest 0.75s 1s forwards;
	}
	@keyframes transitionIn {
		from {
			opacity: 0;
			transform: translateY(-10px);
		}
		to {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	@keyframes transitionRest {
		from {
			opacity: 0;
			transform: rotateX(10deg);
		}
		to {
			opacity: 1;
			transform: rotateX(0);
		}
	}
	@keyframes linker {
		from {
			background: none;
			color: black;
		}
		to {
			background: black;
			color: #F9F4EE;
		}
	}
	* {
		font-family: 'Libre Baskerville', serif;
		background-color: #F9F4EE;
		color:  black;
	}
	head {
		position: absolute;
		top: 0;
	}
	body {
		margin-top: 0px;
	}
	#logo {
		position: absolute;
		right: 50%;
		margin-right: -135px;
		margin-top: 25px;
	}
	#explore {
		position: absolute;
		right: 10%;
		margin-top: 95px;
	}
	#nav {
		position: absolute;
		left: 7%;
		margin-top: 50px;
	}
	#nav a {
		font-size: 14px;
		display: inline-block;
		margin: 50px 15px;
		text-decoration: none;
	}
	#nav #current:after {
		content: "";
		display: block;
		margin: 0 auto;
		width: 100%;
		border-bottom: 2px solid;
		padding-top: 3px;
	}
	.posts {
		opacity: 0;
		position: absolute;
		left: 50%;
		margin-left: -45%;
		display: table;
		columns: 3;
		table-layout: fixed;
		margin-top: 250px;
		width: 90%;
		text-align: center;
	}
	.postrow {
		display: table-row;
		height: 375px;
		border-spacing: 75px auto;
	}
	.post {
		text-align: center;
		display: table-cell;
	}
	.post p {
		text-align: center;
		font-size: 14px;
		width: 350px;
		margin: 25px auto;
		line-height: 25px;
	}
	.post h1 {
		text-align: center;
		font-size: 24px;
		margin: 25px auto;
	}
	.post a {
		font-size: 10pt;
		text-decoration: none;
		padding: 5px;
		border: 1px solid;
		transition: 0.15s;
		color: black;
		background: none;
	}
	.post a:hover {
		background: black;
		color: #F9F4EE;
		border: 1px solid black;
	}
	#post-header {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin-bottom: 20px;
	}
	#post-header h2 {
	  margin: 0 20px;
	  text-align: center;
	}
	.arrow {
	  width: 50px;
	  text-align: center;
	  font-size: 22px;
	  cursor: pointer;
	  transition: 0.2s;
	  user-select: none;
	}
	.arrow.empty {
	  visibility: hidden;
	}
	#page {
		opacity: 0;
		position: absolute;
		width: 98%;
		margin-top: 200px;
		text-align: center;
		padding-bottom: 100px;
	}
	#page h2 {
		text-align: center;
		font-size: 18px;
	}
	#page h1 {
		text-align: center;
		font-size: 36px;
	}
	#page h3 {
		text-align: center;
		font-size: 18px;
		margin-bottom: 50px;
	}
	#page p {
		text-align: left;
		font-size: 16px;
		width: 75%;
		margin: 0 auto;
		line-height: 30px;
		margin-bottom: 35px;
	}
	#page img {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 35px;
	}
	#page form p {
		line-height: 20px;
		margin-bottom: 10px;
	}
	#page ul {
		width: 75%;
		margin: 0 auto;
		text-align: left;
		line-height: 30px;
		margin-bottom: 35px;
	}
	#page dl {
		width: 75%;
		margin: 0 auto;
		text-align: left;
		line-height: 30px;
		margin-bottom: 50px;
	}
	dl {
 		display: grid;
  		grid-template-columns: 20% 80%;
	}

	dt {
 		grid-column-start: 1;
 		margin-bottom: 25px;
	}

	dd {
  		grid-column-start: 2;
  		margin-bottom: 25px;
	}
	input[type=text], input[type=submit], textarea {
   		background: transparent;
    	border: 1px solid;
    	border-radius: 3px;
    	padding: 3px;
	}
	input[type=submit]:hover {
		cursor: pointer;
	}
	@media screen and (max-width: 900px) {
		html, body {
		   overflow-x: hidden;
		}
		body {
		   width:100%;
		}
		#logo {
			display: block;
			margin-top: 135px;
		}
		#nav {
			left: 50%;
			margin-left: -165px;
		}
		#explore {
			right: 50%;
			margin-top: 285px;
			margin-right: -55px;
		}
		.posts {
			margin-top: 350px;
		}
		.postrow {
			height: auto;
		}
		.post {
			display: block;
			width: 100%;
			height: 400px;
			margin: 25px auto;
		}
		.post p, .post h1 {
			width: 95%;
		}
		#page {
			margin-top: 350px;
		}
		#page h1 {
			font-size: 24px;
                        line-height: 34px;
		}
		#page p, dl, ul {
			font-size: 14px;
			width: 85%;
		}
	}
